<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
	    <meta charset="ISO-8859-1">
	    <title>IT Service test task</title>
	    <link rel="stylesheet" href="/style.css" type="text/css"/>
	</head>
	<body>
	
		<form align="center" method="POST" action="/">
			<textarea name="input1" th:text="${input.get(0)}" readonly/>
			<textarea name="input2" th:text="${input.get(1)}" th:if="${input.size() > 1}" readonly/>
						
			<select class="button" id="lonelyButton" name="inputTask" required="required" style="display:none;">
				<option th:each="i : ${allTasks}" th:selected="${task == i.getKey()}" th:value="${i.getKey()}"></option>
			</select>
				
				<input class="button" name="inputButton" type="submit" value="Calc">
		</form>

	</body>
</html>
