<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
	    <meta charset="ISO-8859-1">
	    <title>IT Service test task</title>
	    <link rel="stylesheet" href="/style.css" type="text/css"/>
	</head>
	<body>
	
	<a class="button" style="position: absolute; top: 20px; left: 20px;
								font-size: 20px; font-weight: 2300;" 
								href="/">Home</a>
								
		<div align="center">
			<p th:text="${title}+' uploads:'">Uploads:</p>
			<div th:each="upload : ${uploads}">
				<form align="center" method="POST" action="/">
					<textarea name="input1" th:text="${upload.getInput().get(0)}" readonly/>
					<textarea name="input2" th:text="${upload.getInput().get(1)}" th:if="${upload.getInput().size() > 1}" readonly/>
						
					<select class="button" id="lonelyButton" name="inputTask" required="required" style="display:none;">
						<option th:each="i : ${allTasks}" th:selected="${task == i.getKey()}" th:value="${i.getKey()}"></option>
					</select>
						
						<input class="button" name="inputButton" type="submit" value="Calc">
				</form>
			</div>
		</div>
		
	</body>
</html>
