<div th:fragment="taskTwoArrays">
	<tr>
		<td><p>Array 1 =</p></td>
	 	<td><textarea name="input1" th:text=${input1} required="required" placeholder="arp, live, strong..."></textarea></td>
	 	<td rowspan="2"><textarea id="lonelyTextarea" th:text="${output}" readonly/></td>
	</tr>
	<tr>
	 	<td><p>Array 2 =</p></td>
	 	<td><textarea name="input2" th:text=${input2} required="required" placeholder="lively, alive, harp..."></textarea></td>
	</tr>		 
</div>

<div th:fragment="taskMagicSquare">
	<tr>
		<td><p>Square =</p></td>
	 	<td><textarea name="input1" th:text="${input1}" required="required" placeholder="1, 2, 3, 4..."></textarea></td>
	 	<td><textarea th:text="${output}" readonly/></td>
	</tr>		 
</div>